# === Target & Board ===
CONFIG_IDF_TARGET_ESP32P4=y
CONFIG_BOARD_TYPE_WAVESHARE_ESP32_P4_WIFI6_TOUCH_LCD_3_4C=y

# === Partition Table ===
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/partitions_murzik.csv"

# === Audio & ESP-SR ===
CONFIG_ESP_SR_ENABLE=y
CONFIG_ESP_SR_AFE_SUPPORTED=y
CONFIG_USE_AUDIO_PROCESSOR=y
CONFIG_AUDIO_INPUT_SAMPLE_RATE=24000
CONFIG_AUDIO_OUTPUT_SAMPLE_RATE=24000
CONFIG_AUDIO_INPUT_REFERENCE=y
CONFIG_ESP_SR_AFE_VC_MODE=y

# === Display ===
CONFIG_LCD_MIPI_DSI_LANE_BITRATE_MBPS=1500
CONFIG_LCD_MIPI_DSI_LANE_NUM=2
CONFIG_LCD_BIT_PER_PIXEL=16

# === Camera ===
CONFIG_CAMERA_OV5647=y
CONFIG_CAMERA_OV5647_AUTO_DETECT_MIPI_INTERFACE_SENSOR=y

# === WiFi Remote (ESP32-C6) ===
CONFIG_ESP_WIFI_REMOTE_ENABLED=y
CONFIG_ESP_WIFI_REMOTE_SDIO_HOST_ID=1

# === Bootloader ===
CONFIG_BOOTLOADER_SIZE=0xF000
CONFIG_PARTITION_TABLE_OFFSET=0x11000
